.bold{
  font-weight: 600;
}

.portalLink {
	margin-top: calc(60dvh - var(--scale-t-3xl) - var(--scale-t-s) - var(--scale-t-m));
	
	display: flex;
	justify-content: left;
	flex-wrap: wrap;
}

.portalLink li{
	width: 50%;
	margin-bottom: var(--scale-xl);
}