.portalLink{
  display: flex;
	flex-direction: column;

  margin-top: calc(50dvh - var(--scale-t-3xl) - var(--scale-t-s) - var(--scale-t-m));
  margin-left: 50dvw;
}

.type_m{
	font-size: var(--scale-m);
	line-height: var(--scale-l);
}

.description{  
  display: flex;
  flex-direction: column;
  position: absolute;

  max-width: calc(60 * var(--scale-s) + 2.5dvw);

  bottom: var(--scale-l);

  padding-left: 1.25dvw;
  padding-right: 1.25dvw;
}

.description p{
  font-size: var(--scale-s);
  line-height: var(--scale-m);
}

.link{
  composes: type_m;
  font-weight: 600;
}