---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import HeroTier2 from '../components/HeroTier2.astro';
import ThumbBlog from '../components/ThumbBlog.astro';
import { getDescription } from '../components/ExcerptHelper';

const allBlogPosts = await getCollection('blog');
const sortedPosts = allBlogPosts
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<Layout title="Blog - Lex">
  <Header />
  <main class="main">
    <HeroTier2
      dir="1ex.me/Blog"
      title="Blog"
    />
    <ul class="blog-list">
      {sortedPosts.map((post) => (
        <li>
          <ThumbBlog
            url={`/blog/${post.slug}`}
            date={post.data.date.toLocaleDateString('ja-JP')}
            title={post.data.title}
            description={getDescription({
              description: post.data.description,
              body: post.body,
            })}
          />
        </li>
      ))}
    </ul>
  </main>
  <Footer />
</Layout>

<style>
  .main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    min-height: calc(100dvh - var(--header-height));
    padding-top: var(--header-height);
  }

  .blog-list {
    margin-left: auto;
    margin-right: auto;
    margin-top: var(--scale-m);
    display: flex;
    flex-direction: column;
    gap: var(--scale-m);
    max-width: calc(60 * var(--scale-t-s) + 5dvw);
  }
</style>
