---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import HeroTier2 from '../components/HeroTier2.astro';
import ThumbBlog from '../components/ThumbBlog.astro';
---

<Layout title="Blog - Lex portfolio website">
  <Header />
  <main class="main">
    <HeroTier2
      dir="1exicon.com/Blog"
      title="Blog"
    />
    <ul class="blog-list">
      <li>
        <ThumbBlog
          url="/blog/modes-and-chars"
          date="2024-01-14"
          title="もじ イメージ Graphic展"
          description="春休みくらいまで開催されている『もじ イメージ Graphic展』に行ってきた。もとから生粋の文字好きである僕にとってこの展示は絶対行くリストのだいぶ高いTierに入っていて、しかしながらなまじ会期が長いから行けていなかったのだ。中間試験なりで逼迫していたのもある。それでもその存在を忘れることはなくようやく先日行ってきた。"
        />
      </li>
      <li>
        <ThumbBlog
          url="/blog/first-entry"
          date="2024-01-09"
          title="サイトを作った"
          description="やろうやろうと言っていて結局後回しになってしまっていた自分のサイトをようやく作り上げた。といってもローンチまでの第一宇宙速度を得るのにいたったのは別にケロシンでも液体酸素のおかげでも、スペースXの創業者の気まぐれに危機感を覚えたからでもなく、たんに僕が成人の日のことを完全に忘れてしまっていたことによる。"
        />
      </li>
    </ul>
  </main>
  <Footer />
</Layout>

<style>
  .main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 100dvh;
  }

  .blog-list {
    margin-left: 1.25dvw;
    margin-top: var(--scale-m);
    display: flex;
    flex-direction: column;
    gap: var(--scale-m);
  }
</style>