---
// Footer component
---

<footer>
  <ul class="footer-nav">
    <li>
      <a href="https://twitter.com/1ex_me" target="_blank" rel="noopener noreferrer">Twitter &gt;</a>
    </li>
    <li>
      <a href="https://bsky.app/profile/1ex.me" target="_blank" rel="noopener noreferrer">Bluesky &gt;</a>
    </li>
    <li>
      <a href="https://www.instagram.com/1ex.me" target="_blank" rel="noopener noreferrer">Instagram &gt;</a>
    </li>
  </ul>
</footer>

<style>
  .footer-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    margin-right: 1.25dvw;

    gap: var(--scale-s);

    font-size: var(--scale-s);
    line-height: var(--scale-m);
  }
</style>