---
export interface Props {
  dir: string;
  title: string;
}

const { dir, title } = Astro.props;
---

<div class="hero">
  <h5 class="dir">{dir}</h5>
  <h1 class="page-title">{title}</h1>
</div>

<style>
  .hero {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    margin-top: calc(-1 * var(--scale-t-m));

    padding-left: 1.25dvw;
    padding-right: 1.25dvw;
  }

  .page-title {
    line-height: 100%;
    font-size: var(--scale-xl);
    line-height: var(--scale-2xl);
  }

  .dir {
    font-style: italic;
  }
</style>