.contents{
  display: flex;
  flex-direction: column;

  	margin-top: var(--scale-4xl);
  	margin-left: auto;
	margin-right: auto;
	padding-left: 2.5dvw;
	padding-right: 2.5dvw;

  max-width: calc(60 * var(--scale-t-s) + 5dvw);
}

.contents p{
	text-indent: var(--scale-t-s);
	margin-bottom: var(--scale-t-xs);
}