.hero{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	position: absolute;

	top: var(--scale-xs);

	padding-left: var(--padding-lr);
}

.pageTitle{
	line-height: 100%;
}

.dir{
	font-style: italic;
}