.logo{
	height: var(--scale-s);
}

.footerNav{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;

	margin-top: calc(50dvh - 2 * var(--scale-l) - 2 * var(--scale-m));
	margin-right: 1.25dvw;

	gap: var(--scale-m);

	font-size: var(--scale-s);
	line-height: var(--scale-m);
}